
@font-face {
  font-family: Thectro;
  src: url('/static/Thectro.ttf');
}

@font-face {
  font-family: Digital;
  src: url('/static/Digital.ttf');
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.display-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .game-area {
    margin-right: 30px;
  }

  #container {
    display: flex;
    margin: 0 30px;
  }

  .header {
    margin: 10px 30px;
    color: red;
    font-size: 42px;
    font-family: Thectro, Arial, Helvetica, sans-serif;
  }
  
  #loader-container {
    background-color: black;
    height: 60vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
}

@media screen and (max-width: 1024px) {
  .game-area {
    margin: 0;
  }

  #container {
    margin: 0;
  }

  .header {
    display: none;
  }

  #loader-container {
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-screen {
    display: none;
  }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ff0000;
  font-size: 11px;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: black;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: black;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.text {
  color: white;
}

.modal {
  position: absolute;
  top: calc(20vh);
  left: calc(20vw);
  z-index: 5;
  width: 60vw;
  height: 60vh;
  text-align: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  color: yellow;
}

.modal > button {
  border: none;
  border-radius: 20px;
  background-color: #cc0000;
  color: black;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  width: 15vw;
  height: 10vh;
  margin-top: 20px;
}

.header-mobile {
  color: red;
  font-family: Thectro, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.headline {
  color: red;
}

.footer {
  position: absolute;
  bottom: 0;
  z-index: 6;
  width: 100vw;
}

.footer > div {
  text-align: center;
  color: white;
  font-size: 10px;
}