<div id="mobile_instructions" class="modal">
  <div class="header-mobile">Red Wings</div>
  {{> story }}
  <button onclick="updateTemplateDOM('HIDE_MOBILE_INSTRUCTIONS')" type="button">Play Game</button>
</div>